<div class="card">
    <div class="card-header">
        <h3 class="card-title text-white">
            <i class="fas fa-file-pdf"></i> PDFs
        </h3>
    </div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="pdf" multiple class="custom-file-input" id="inputGroup"
                            aria-describedby="inputGroupFileAddon" required>
                        <label class="custom-file-label" for="inputGroupFile">Ingrese los archivos</label>
                    </div>
                </div>
            </div>
            <button type="submit" formaction="/pdfs2" class="btn"><i class="fa fa-upload"></i>
                Rotulo completo</button>
            <button type="submit" formaction="/pdfs" class="btn"><i class="fa fa-upload"></i>
                Medio rotulo</button>
        </form>

        <div class="d-flex justify-content-around">
            <h3 "p-2 bd-highlight">Rotulo completo </h3>
            <h3 "p-2 bd-highlight">Medio rotulo</h3>
        </div>

        <div class="d-flex justify-content-around">
            <p "p-2 bd-highlight">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat amet eligendi dolore
                atque et odit eos
                maiores! Neque nihil ab sit sequi assumenda quae ullam eius rerum, delectus ipsa perspiciatis.</p>

            <p "p-2 bd-highlight">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati velit quae ipsum
                sunt excepturi id,
                quasi fugiat, facere nesciunt ratione nulla explicabo culpa. Quas, provident suscipit laboriosam sunt
                nulla perspiciatis.</p>


        </div>
        <img src="../public/img/ejemplo2.png" alt="Formato 1">
        <img src="../public/img/Ejemplo1.png" alt="Formato 2">

    </div>
</div>