body {
   
}

.navbar {
    background-color:#ffffff;
    
}

.navbar-brand img {
    width: 12%;
}

.card-header {
    background-color: #9d65c9;
}

.card-body {
    color: black;
}
.card-body form button  {
    background-color: #d789d7;
    color: #ffffff;
    
}

.card img {
    float: left;
    width: 50%;
}

iframe {
    width: 100%;
    height: 100vh;
    direction: none;
    border: none;
    overflow: scroll;
}

h2 {
    color: blue;
}